@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Bem-vindo à nossa aplicação desenvolvida em ASP.NET MVC, um projeto cuidadosamente elaborado para aprimorar a eficiência ao automatizar tarefas repetitivas.
        Esta iniciativa representa um estudo aprofundado da tecnologia, buscando oferecer aos usuários uma solução robusta e intuitiva. Explore todas as funcionalidades 
        disponíveis, projetadas para simplificar e agilizar suas atividades diárias.

        Estamos comprometidos em proporcionar uma experiência que vá além das expectativas, oferecendo suporte a diversas necessidades. 
        Se surgirem dúvidas durante a utilização, não hesite em entrar em contato. Nossa equipe está pronta para fornecer esclarecimentos e assistência técnica.

        A aplicação é resultado de um esforço dedicado para criar uma interface amigável e eficaz, garantindo que os usuários aproveitem ao máximo cada recurso. 
        Aproveite a oportunidade para aprofundar seus conhecimentos nesta plataforma e descubra como ela pode transformar suas tarefas cotidianas. 
        Estamos entusiasmados com a possibilidade de contribuir para a otimização de suas atividades por meio desta aplicação ASP.NET MVC.

    </p>
</main>